<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>

<h:head>
	<title>Generar Factura</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanVentas.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<p:panel header="Datos Factura">
		<div style="text-align: center;">
			<h3>PANADERIA SON DE AZUCAR</h3>
		</div>
		<div align="center">
			<p:panelGrid columns="6">
				<h:outputText value="No. Factura:" />
				<h:outputText value="#{beanVentas.venta.idVen}" />
				<h:outputText value="Fecha Venta:" />
				<h:outputText value="#{beanVentas.venta.fecha}" />
				<h:outputText value="Atendido Por:" />
				<h:outputText value="#{beanVentas.usuarioDTO.nombres}" />
				<h:outputText value="Cedula Cliente:" />
				<h:outputText value="#{beanVentas.clienteDTO.cedula}" />
				<h:outputText value="Nombres Cliente:" />
				<h:outputText value="#{beanVentas.clienteDTO.nombres}" />
				<h:outputText value="" />
				<h:outputText value="" />
			</p:panelGrid>
		</div>
		<br/>
		<h:form id="detalle">
			<p:dataTable value="#{beanVentas.listaDetalleVenta}" var="v"
				emptyMessage="No hay registros aún.">
				<p:column headerText="Id">
					<h:outputText value="#{v.idDetVen}" />
				</p:column>
				<p:column headerText="Nombre Producto">
					<h:outputText value="#{v.nombrePro}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{v.cantidad}" />
				</p:column>
				<p:column headerText="Precio">
					<h:outputText value="#{v.precio}">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</p:column>
				<p:column headerText="Total">
					<h:outputText value="#{v.total}">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</p:column>
			</p:dataTable>
			<div align="right">
				<p:panelGrid columns="2">
					<h:outputText value="Subtotal:" style="font-weight: bold;" />
					<h:outputText value="#{beanVentas.venta.subtotal}">
						<f:convertNumber minFractionDigits="2" />
					</h:outputText>
					<h:outputText value="Impuesto(#{beanVentas.venta.iva}):" style="font-weight: bold;" />
					<h:outputText value="#{beanVentas.venta.impuesto}">
						<f:convertNumber minFractionDigits="2" />
					</h:outputText>
					<h:outputText value="Total:" style="font-weight: bold;" />
					<h:outputText value="#{beanVentas.venta.total}">
						<f:convertNumber minFractionDigits="2" />
					</h:outputText>
				</p:panelGrid>
			</div>
		</h:form>
	</p:panel>
</body>
</html>
