<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>

<h:head>
	<title>Vender</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Ver Ventas" icon="pi pi-book"
				action="#{beanVentas.actionCargarMenuVentas()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel id="information">
		<h:form id="formDatos">
			<p:panel header="Datos Venta">
				<f:facet name="actions">
					<p:commandButton value="Finalizar Venta" update="@form"
						action="#{beanVentas.actionListenerFinalizarVenta(beanSegLogin.loginDTO.idSegUsuario)}">
					</p:commandButton>
				</f:facet>
				<p:panelGrid columns="6">
					<h:outputText value="Ingrese Cedula:" />
					<p:inputText value="#{beanVentas.cedula}"
						placeholder="Cedula Cliente" />
					<p:commandButton value="Buscar" update="@form"
						action="#{beanVentas.actionListenerBuscarCliente()}"></p:commandButton>
					<h:outputText value="#{beanVentas.mensaje}" />
					<p:commandButton value="Registrar" update=":formRegistrar"
						action="#{beanVentas.actionListenerModal()}"
						oncomplete="PF('dlgRegistrar').show()" />
					<p:selectBooleanCheckbox value="#{beanVentas.consumidorF}"
						itemLabel="Consumidor Final" />
					<h:outputText value="Seleccione Categoria:" />
					<p:selectOneMenu value="#{beanVentas.idCatSeleccionada}"
						style="width: 100%;">
						<f:selectItems value="#{beanVentas.listaCategorias}" var="cat"
							itemLabel="#{cat.nombreCat}" itemValue="#{cat.idInvCategoria}"></f:selectItems>
					</p:selectOneMenu>

					<p:inputText value="#{beanVentas.nombreP}"
						placeholder="Nombre Producto" />
					<p:commandButton value="Buscar" update="@form"
						action="#{beanVentas.buscarCategoria()}"></p:commandButton>
					<h:outputText value="Seleccione Producto:" />
					<p:selectOneMenu value="#{beanVentas.idProSeleccionado}"
						style="width: 175px;">
						<f:selectItems value="#{beanVentas.listaProductos}" var="p"
							itemLabel="#{p.nombrePro}" itemValue="#{p.idInvProducto}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Cantidad:" />
					<p:spinner min="1" value="#{beanVentas.cantidad}"
						style="width: 150px;"></p:spinner>
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
					<p:commandButton value="Cambiar Iva" update=":formCambiarIva"
						action="#{beanVentas.actionListenerCambiarIva()}"
						oncomplete="PF('dlgCambiarIva').show()" />
				</p:panelGrid>
				<br />
				<div align="center">
					<p:commandButton value="Agregar" update="@form,:detalle,:formTotal"
						action="#{beanVentas.actionListenerAgregarDetalleVenta() }"></p:commandButton>
				</div>

			</p:panel>
		</h:form>
		<h:form id="detalle">
			<p:dataTable value="#{beanVentas.listaDetalleVenta}" var="v"
				emptyMessage="No hay registros aún." paginator="true" rows="10">
				<p:column headerText="Id">
					<h:outputText value="#{v.idDetVen}" />
				</p:column>
				<p:column headerText="Nombre Producto">
					<h:outputText value="#{v.nombrePro}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{v.cantidad}" />
				</p:column>
				<p:column headerText="Precio">
					<h:outputText value="#{v.precio}">
						<f:convertNumber minFractionDigits="1" />
					</h:outputText>
				</p:column>
				<p:column headerText="Total">
					<h:outputText value="#{v.total}">
						<f:convertNumber minFractionDigits="1" />
					</h:outputText>
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanVentas.actionListenerEliminarProductoDetalleVenta(v.idDetVen)}">
					</p:commandButton>
				</p:column>
			</p:dataTable>

		</h:form>
		<h:form id="formTotal">
			<div align="right">
				<p:panelGrid columns="2">
					<h:outputText value="Subtotal:" style="font-weight: bold;" />
					<h:outputText value="#{beanVentas.venta.subtotal}">
						<f:convertNumber minFractionDigits="2" />
					</h:outputText>
					<h:outputText
						value="Impuesto(#{beanVentas.impuesto.porcentajeImp}):"
						style="font-weight: bold;" />
					<h:outputText value="#{beanVentas.venta.impuesto}">
						<f:convertNumber minFractionDigits="2" />
					</h:outputText>
					<h:outputText value="Total:" style="font-weight: bold;" />
					<h:outputText value="#{beanVentas.venta.total}">
						<f:convertNumber minFractionDigits="2" />
					</h:outputText>
				</p:panelGrid>
			</div>
		</h:form>
	</p:panel>
	<p:dialog header="Registrar Cliente" widgetVar="dlgRegistrar"
		width="450" showEffect="fade" modal="true">
		<h:form id="formRegistrar">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="Cedula:" />
				<p:inputText value="#{beanVentas.clienteR.cedulaCli}"
					required="true" requiredMessage="Indique la cedula." />
				<h:outputText value="Nombre:" />
				<p:inputText value="#{beanVentas.clienteR.nombreCli}"
					required="true" requiredMessage="Indique el nombre." />
				<h:outputText value="Apellido:" />
				<p:inputText value="#{beanVentas.clienteR.apellidoCli}"
					required="true" requiredMessage="Indique el apellido." />
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgRegistrar').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formDatos"
					actionListener="#{beanVentas.actionListenerRegistrarCliente()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog header="Cambiar Iva" widgetVar="dlgCambiarIva" width="450"
		showEffect="fade" modal="true">
		<h:form id="formCambiarIva">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="Porcentaje:" />
				<p:inputText value="#{beanVentas.impuesto.porcentajeImp}"
					required="true" requiredMessage="Indique el porcentaje." />
				<h:outputText value="Valor:" />
				<p:inputText value="#{beanVentas.impuesto.valorImp}" required="true"
					requiredMessage="Indique el valor." />
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgRegistrar').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formTotal"
					actionListener="#{beanVentas.actionListenerActualizarImpuesto()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
