<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="formMenu">
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="login" />
			<p:menuitem value="Catalogo" icon="pi pi-briefcase" action="catalogo" />
		</p:menubar>
	</h:form>
	<h:form id="busqueda">
		<p:panelGrid columns="4">
			<h:outputText value="Por Categoria:" />
			<p:selectOneMenu value="#{beanEcommerce.idCatSeleccionada}"
				style="width: 100%;">
				<f:selectItems value="#{beanEcommerce.listaCategorias}" var="cat"
					itemLabel="#{cat.nombreCat}" itemValue="#{cat.idInvCategoria}"></f:selectItems>
			</p:selectOneMenu>
			<p:inputText value="#{beanEcommerce.nombreP}"
				placeholder="Nombre Producto" />
			<p:commandButton value="Buscar" update=":productos"
				action="#{beanEcommerce.acionListenerBuscarProductos()}"></p:commandButton>
		</p:panelGrid>
	</h:form>

	<h:form id="productos">
		<p:panel header="Catalogo de Productos">
			<p:dataGrid value="#{beanEcommerce.listaProductos}" var="p"
				paginator="true" columns="4">
				<p:panel header="Producto">
					<div align="center">
						<img src="#{p.urlImg}" width="60%"
							style="height: 10em; width: 10em" />
					</div>
					<br />
					<h:panelGrid columns="2">
						<h:outputText value="#{p.nombrePro}" />
						<h:outputText value="" />
						<h:outputText value="$ #{p.precioPro}" />
						<h:outputText value="" />
						<p:spinner min="1" value="#{p.cantidad}" placeholder="Cantidad"></p:spinner>

					</h:panelGrid>
					<p:commandButton value="Agregar" update=":detalle, :formTotal"
						icon="fa fa-cart-plus"
						actionListener="#{beanEcommerce.actionListenerAgregarDetalleVenta(p)}" />
				</p:panel>
			</p:dataGrid>
		</p:panel>
	</h:form>
	<h:form id="detalle">
		<p:dataTable value="#{beanEcommerce.listaDetalleVenta}" var="v"
			emptyMessage="No hay registros aún." paginator="true" rows="5">
			<p:column headerText="Id">
				<h:outputText value="#{v.idDetVen}" />
			</p:column>
			<p:column headerText="Nombre Producto">
				<h:outputText value="#{v.nombrePro}" />
			</p:column>
			<p:column headerText="Cantidad">
				<h:outputText value="#{v.cantidad}" />
			</p:column>
			<p:column headerText="Precio">
				<h:outputText value="#{v.precio}">
					<f:convertNumber minFractionDigits="1" />
				</h:outputText>
			</p:column>
			<p:column headerText="Total">
				<h:outputText value="#{v.total}">
					<f:convertNumber minFractionDigits="1" />
				</h:outputText>
			</p:column>
			<p:column headerText="Opciones">
				<p:commandButton icon="pi pi-times-circle"
					styleClass="ui-button-danger" update=":detalle,:formTotal"
					title="Eliminar"
					actionListener="#{beanEcommerce.actionListenerEliminarProductoDetalleVenta(v.idDetVen)}" />
			</p:column>
		</p:dataTable>
	</h:form>
	<h:form id="formTotal">
		<div align="right">
			<p:panelGrid columns="2">
				<h:outputText value="Subtotal:" style="font-weight: bold;" />
				<h:outputText value="#{beanEcommerce.venta.subtotal}">
					<f:convertNumber minFractionDigits="2" />
				</h:outputText>
				<h:outputText
					value="Impuesto(#{beanEcommerce.impuesto.porcentajeImp}):"
					style="font-weight: bold;" />
				<h:outputText value="#{beanEcommerce.venta.impuesto}">
					<f:convertNumber minFractionDigits="2" />
				</h:outputText>
				<h:outputText value="Total:" style="font-weight: bold;" />
				<h:outputText value="#{beanEcommerce.venta.total}">
					<f:convertNumber minFractionDigits="2" />
				</h:outputText>
			</p:panelGrid>
		</div>
	</h:form>
	<h:form id="Resultado">
		<div align="center">
			<p:commandButton value="Reporte" ajax="false"
				update=":formTotal, :detalle, :productos"
				action="#{beanEcommerce.actionListenerFinalizar()}">
			</p:commandButton>
		</div>
	</h:form>


</body>
</html>
