<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Clientes</title>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Nuevo Cliente" icon="pi pi-user-plus"
				action="#{beanCliente.actionMenuNuevoCliente()}" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCliente.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Clientes"></p:staticMessage>
	</h:form>
	<p:panel>
		<h:form id="formDatos">
			<p:dataTable value="#{beanCliente.listaClientes}" var="c"
				paginator="true" rows="5">
				<p:column headerText="ID">
					<h:outputText value="#{c.idEcoCliente}" />
				</p:column>
				<p:column headerText="CEDULA" filterBy="#{c.cedulaCli}"
					filterMatchMode="contains">
					<h:outputText value="#{c.cedulaCli}" />
				</p:column>
				<p:column headerText="NOMBRE" filterBy="#{c.nombreCli}"
					filterMatchMode="contains">
					<h:outputText value="#{c.nombreCli}" />
				</p:column>
				<p:column headerText="APELLIDO" filterBy="#{c.apellidoCli}"
					filterMatchMode="contains">
					<h:outputText value="#{c.apellidoCli}" />
				</p:column>
				<p:column headerText="CORREO">
					<h:outputText value="#{c.correoCli}" />
				</p:column>
				<p:column headerText="TELEFONO">
					<h:outputText value="#{c.telefonoCli}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton value="Editar" icon="pi pi-pencil"
						update=":formEdicion"
						actionListener="#{beanCliente.actionListenerSeleccionarCliente(c)}"
						oncomplete="PF('dlgEdicion').show()" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanCliente.actionListenerEliminarCliente(c.idEcoCliente)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este usuario?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:dialog header="Editar Cliente" widgetVar="dlgEdicion" width="450"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="Cedula:" />
				<h:outputText value="#{beanCliente.clienteSeleccionado.cedulaCli}" />
				<h:outputText value="Nombre:" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.nombreCli}"
					required="true" requiredMessage="Indique el nombre." />
				<h:outputText value="Apellido:" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.apellidoCli}"
					required="true" requiredMessage="Indique el apellido." />
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.correoCli}" />
				<h:outputText value="Telefono:" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.telefonoCli}" />
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formDatos"
					actionListener="#{beanCliente.actionListenerActualizarCliente()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>