<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Nuevo Cliente</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<div align="center">
		<p:panel>
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Cedula:" />
					<p:inputText value="#{beanCliente.nuevoCliente.cedulaCli}"
						required="true" requiredMessage="Ingrese la cedula" />
					<h:outputText value="Nombres:" />
					<p:inputText value="#{beanCliente.nuevoCliente.nombreCli}"
						required="true" requiredMessage="Ingrese los nombres" />
					<h:outputText value="Apellidos:" />
					<p:inputText value="#{beanCliente.nuevoCliente.apellidoCli}"
						required="true" requiredMessage="Ingrese los apellidos" />
					<h:outputText value="Correo:" />
					<p:inputText value="#{beanCliente.nuevoCliente.correoCli}"
						required="true" requiredMessage="Ingrese el correo" />
					<h:outputText value="Telefono:" />
					<p:inputText value="#{beanCliente.nuevoCliente.telefonoCli}" />
					<p:commandButton value="Guardar" icon="pi pi-save" update="@form"
						actionListener="#{beanCliente.actionListenerInsertarNuevoCliente()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:panel>
	</div>	
</body>
</html>
