<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Inventario</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Ingresar Materia Prima" icon="pi pi-inbox"
				action="#{beanProduccion.actionMenuNuevoProducto}" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanProduccion.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<h:form id="formDatos">
		<p:dataTable value="#{beanProduccion.materiaPrima}" var="m">
			<p:column headerText="ID">
				<h:outputText value="#{m.idProMateriaPrima}" />
			</p:column>
			<p:column headerText="MEDIDA">
				<h:outputText value="#{m.proMedida.nombreMed}" />
			</p:column>
			<p:column headerText="NOMBRE">
				<h:outputText value="#{m.nombreMat}" />
			</p:column>
			<p:column headerText="CANTIDAD">
				<h:outputText value="#{m.cantidadMat}" />
			</p:column>
			<p:column headerText="ESTADO">
				<p:selectBooleanCheckbox value="#{m.estadoMat}" disabled="false" />
			</p:column>
			<p:column headerText="OPCIONES">
				<p:commandButton value="Editar" icon="pi pi-pencil"
					update=":formEdicion"
					actionListener="#{beanProduccion.actionListenerSeleccionarProductoEditar(m)}"
					oncomplete="PF('dlgEdicion').show()" />
				<p:commandButton update="@form" icon="pi pi-check"
					title="Cambiar estado alquiler"
					actionListener="#{beanProduccion.actionListenerCambiarEstado(m)}" />
				<p:commandButton value="Eliminar" update="@form"
					styleClass="ui-button-danger" icon="pi pi-times"
					actionListener="#{beanProduccion.actionListenerEliminarProducto(m)}">
					<p:confirm header="Confirmacion" message="Esta seguro de eliminar?"
						icon="pi pi-info-circle" />
				</p:commandButton>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
					responsive="true" width="350">
					<p:commandButton value="NO" type="button"
						styleClass="ui-confirmdialog-no ui-button-flat" />
					<p:commandButton value="SI" type="button"
						styleClass="ui-confirmdialog-yes" />
				</p:confirmDialog>
			</p:column>
		</p:dataTable>
	</h:form>
	<p:dialog header="Editar Producto" widgetVar="dlgEdicion" width="450"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="MEDIDA" />
				<p:selectOneMenu value="#{beanProduccion.medidaseleccionada}">
					<f:selectItems value="#{beanProduccion.medida}" var="m"
						itemLabel="#{m.nombreMed}" itemValue="#{m.idProMedida}" />
				</p:selectOneMenu>
				<h:outputText value="NOMBRE" />
				<p:inputText value="#{beanProduccion.edicionMateriaPrima.nombreMat}"
					required="true" requiredMessage="Indique el nombre." />
				<h:outputText value="CANTIDAD" />
				<p:inputText
					value="#{beanProduccion.edicionMateriaPrima.cantidadMat}"
					required="true" requiredMessage="Indique la cantidad" />
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formDatos"
					actionListener="#{beanProduccion.actionListenerActualizarProducto()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

</body>
</html>
