<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Medida</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="productos_nuevos" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<h:form id="form">
		<p:panelGrid columns="2">
			<h:outputText value="Nombre de Medida:" />
			<p:inputText value="#{beanProduccion.nuevaMedida.nombreMed}"
				required="true" requiredMessage="Ingrese el nombre" />
			<h:outputText value="Abreviatura:" />
			<p:inputText value="#{beanProduccion.nuevaMedida.abreviaturaMed}"
				required="true" requiredMessage="Ingrese la abreviatura" />
			<p:commandButton value="Insertar" update="@form,:form2"
				actionListener="#{beanProduccion.actionListenerInsertarMedida()}"></p:commandButton>
		</p:panelGrid>
	</h:form>
	<h:form id="form2">
		<p:dataTable value="#{beanProduccion.medida}" var="m" paginator="true"
			rows="4">
			<p:column headerText="ID">
				<h:outputText value="#{m.idProMedida}" />
			</p:column>
			<p:column headerText="NOMBRE">
				<h:outputText value="#{m.nombreMed}" />
			</p:column>
			<p:column headerText="ABREVIATURA">
				<h:outputText value="#{m.abreviaturaMed}" />
			</p:column>
			<p:column headerText="OPCIONES">
			<p:commandButton value="Eliminar" update="@form"
					styleClass="ui-button-danger" icon="pi pi-times"
					actionListener="#{beanProduccion.actionListenerEliminarMedida(m)}">
					<p:confirm header="Confirmacion" message="Esta seguro de eliminar?"
						icon="pi pi-info-circle" />
				</p:commandButton>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
					responsive="true" width="350">
					<p:commandButton value="NO" type="button"
						styleClass="ui-confirmdialog-no ui-button-flat" />
					<p:commandButton value="SI" type="button"
						styleClass="ui-confirmdialog-yes" />
				</p:confirmDialog>
			</p:column>
		</p:dataTable>
	</h:form>
</body>
</html>
