<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Insertar Productos</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="inventario" />
			<p:menuitem value="Insertar Medida" icon="pi pi-sliders-h"
				action="#{beanProduccion.actionMateriaPrima()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="MEDIDA: " />
				<p:selectOneMenu value="#{beanProduccion.medidaseleccionada}">
					<f:selectItems value="#{beanProduccion.medida}" var="m"
						itemLabel="#{m.nombreMed}" itemValue="#{m.idProMedida}"></f:selectItems> />
				</p:selectOneMenu>
				<h:outputText value="NOMBRE: " />
				<p:inputText value="#{beanProduccion.nuevaMateriaPrima.nombreMat}"
					required="true" requiredMessage="Ingrese el nombre" />
				<h:outputText value="CANTIDAD: " />
				<p:inputText value="#{beanProduccion.nuevaMateriaPrima.cantidadMat}"
					required="true" requiredMessage="Ingrese la cantidad" />
				<h:outputText value="ESTADO: " />
				<p:selectBooleanCheckbox
					value="#{beanProduccion.nuevaMateriaPrima.estadoMat}"
					disabled="false" />
				<p:commandButton value="GUARDAR" icon="pi pi-save" update="@form"
					actionListener="#{beanProduccion.actionListenerInsertarNuevoProducto()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:panel>
</body>
</html>
