<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="formMenu">
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" />
			<p:menuitem value="Categorias" icon="pi pi-briefcase"
				action="categoria" />
			<p:menuitem value="Catalogo" icon="pi pi-briefcase" action="catalogo" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<div align="center">
			<h1>CATALOGO DE PRODUCTOS</h1>
		</div>
	</h:form>
	<h:outputText value="Seleccione Categoria:" />
	<p:selectOneMenu value="#{beanVentas.idCatSeleccionada}"
		style="width: 100%;">
		<f:selectItems value="#{beanVentas.listaCategorias}" var="cat"
			itemLabel="#{cat.nombreCat}" itemValue="#{cat.idInvCategoria}"></f:selectItems>
	</p:selectOneMenu>
	<div>
		<h:form id="formPro">
			<p:dataTable value="#{beanProductos.listaProductos}" var="p">
				<p:column headerText="IMAGEN">
					<img src="#{p.urlImagenPro}" width="60%" />
				</p:column>
				<p:column headerText="CATEGORIA">
					<h:outputText value="#{p.invCategoria.nombreCat}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{p.nombrePro}" />
				</p:column>
				<p:column headerText="CANTIDAD">
					<h:outputText value="#{p.cantidadPro}" />
				</p:column>
				<p:column headerText="PRECIO">
					<h:outputText value="#{p.precioPro}" />
				</p:column>
				<p:column headerText="ESTADO">
					<p:selectBooleanCheckbox value="#{p.estadoPro}" disabled="true" />
				</p:column>

			</p:dataTable>
		</h:form>

	</div>
</body>
</html>
