<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="formMenu">
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" action="menu"/>
			<p:menuitem value="Categorias" icon="pi pi-briefcase" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<div>
		<p:commandButton value="Nueva Categoria"
			oncomplete="PF('dlgNuevo').show()" />
		<p:dialog header="Nueva Categoria" widgetVar="dlgNuevo" width="450"
			showEffect="fade" modal="true">
			<h:form id="formNuevo">
				<p:messages>
					<p:autoUpdate />
				</p:messages>

				<p:panelGrid columns="2">
					<h:outputText value="Nombre Categoria: " />
					<p:inputText value="#{beanProductos.categoria.nombreCat}" />
					<h:outputText value="Descripcion " />
					<p:inputText value="#{beanProductos.categoria.descripcionCat}" />
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgNuevo').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						update=":formPro" onclick="PF('dlgNuevo').hide()"
						actionListener="#{beanProductos.actionListenerInsertarCategoria()}" />

				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
	<div>
		<h:form id="formPro">
			<p:dataTable value="#{beanProductos.listaCategorias}" var="c">
			<p:column headerText="ID CATEGORIA">
					<h:outputText value="#{c.idInvCategoria}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{c.nombreCat}" />
				</p:column>
				<p:column headerText="DESCRIPCION">
					<h:outputText value="#{c.descripcionCat}" />
				</p:column>
				
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-times" update="@form" style="margin: 2px"
						actionListener="#{beanProductos.actionListenerEliminarCategoria(c.idInvCategoria)}">
							
					</p:commandButton>
					<p:commandButton value="Editar" icon="pi pi-pencil" style="margin: 2px"
						update=":formEdicion"
						actionListener="#{beanProductos.actionListenerSeleccionarCategoriaEdicion(c)}"
						oncomplete="PF('dlgEdicion').show()" />


				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Editar categoria" widgetVar="dlgEdicion" width="450"
			showEffect="fade" modal="true">
			<h:form id="formEdicion">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="NOMBRE:" />
					<p:inputText
						value="#{beanProductos.categoriaSele.nombreCat}"
						required="true" requiredMessage="Indique nombre categoria." />
					<h:outputText value="DESCRIPCION" />
					<p:inputText
						value="#{beanProductos.categoriaSele.descripcionCat}"
						required="true" requiredMessage="Indique descripcion." />	
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicion').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						update=":formPro" onclick="PF('dlgEdicion').hide()"
						actionListener="#{beanProductos.actionListenerActualizarCategoria()}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</div>
</body>
</html>












