<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="formMenu">
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" />
			<p:menuitem value="Categorias" icon="pi pi-briefcase"
				action="categoria" />
			<p:menuitem value="Catalogo" icon="pi pi-th-large" action="catalogo" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanProductos.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.nombres}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<div>
		<p:commandButton value="Nuevo producto"
			oncomplete="PF('dlgNuevo').show()" />
		<p:dialog header="Nuevo producto" widgetVar="dlgNuevo" width="450"
			showEffect="fade" modal="true">
			<h:form id="formNuevo">
				<p:messages>
					<p:autoUpdate />
				</p:messages>

				<p:panelGrid columns="2">
					<h:outputText value="Categoria: " />

					<p:selectOneMenu value="#{beanProductos.categoriaSeleccionada}">
						<f:selectItems value="#{beanProductos.listaCategorias}" var="c"
							itemLabel="#{c.nombreCat}" itemValue="#{c.idInvCategoria}" />
					</p:selectOneMenu>

					<h:outputText value="Nombre: " />
					<p:inputText value="#{beanProductos.producto.nombrePro}" />
					<h:outputText value="Cantidad: " />
					<p:inputText value="#{beanProductos.producto.cantidadPro}" />
					<h:outputText value="Precio: " />
					<p:inputText value="#{beanProductos.producto.precioPro}" />
					<h:outputText value="Estado" />
					<p:selectBooleanCheckbox
						value="#{beanProductos.producto.estadoPro}" disabled="false" />
					<h:outputText value="URL:" />
					<p:inputText value="#{beanProductos.producto.urlImagenPro}" />
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2" onclick="PF('dlgNuevo').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						update=":formPro" onclick="PF('dlgNuevo').hide()"
						actionListener="#{beanProductos.actionListenerInsertarProducto()}" />

				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
	<div>
		<h:form id="formPro">
			<p:dataTable value="#{beanProductos.listaProductos}" var="p">
				<p:column headerText="IMAGEN">
					<img src="#{p.urlImagenPro}" width="60%" />
				</p:column>
				<p:column headerText="CODIGO">
					<h:outputText value="#{p.idInvProducto}" />
				</p:column>
				<p:column headerText="CATEGORIA">
					<h:outputText value="#{p.invCategoria.nombreCat}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{p.nombrePro}" />
				</p:column>
				<p:column headerText="CANTIDAD">
					<h:outputText value="#{p.cantidadPro}" />
				</p:column>
				<p:column headerText="PRECIO">
					<h:outputText value="#{p.precioPro}" />
				</p:column>
				<p:column headerText="ESTADO">
					<p:selectBooleanCheckbox value="#{p.estadoPro}" disabled="true" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton update="@form" icon="pi pi-check"
						style="margin: 2px" title="Cambiar estado Disponible"
						actionListener="#{beanProductos.actionListenerCambiarEstadoDisponible(p)}" />
					<p:commandButton value="Editar" icon="pi pi-pencil"
						style="margin: 2px" update=":formEdicion"
						actionListener="#{beanProductos.actionListenerSeleccionarProductoEdicion(p)}"
						oncomplete="PF('dlgEdicion').show()" />
					<p:commandButton icon="pi pi-times" update="@form"
						style="margin: 2px"
						actionListener="#{beanProductos.actionListenerEliminarProducto(p.idInvProducto)}">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Editar producto" widgetVar="dlgEdicion" width="450"
			showEffect="fade" modal="true">
			<h:form id="formEdicion">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="CATEGORIA" />
					<p:selectOneMenu value="#{beanProductos.idCategoriaEdicion}">
						<f:selectItems value="#{beanProductos.listaCategorias}" var="c"
							itemLabel="#{c.nombreCat}" itemValue="#{c.idInvCategoria}" />
					</p:selectOneMenu>
					<h:outputText value="NOMBRE:" />
					<p:inputText
						value="#{beanProductos.productoSeleccionado.nombrePro}"
						required="true" requiredMessage="Indique el nombre." />
					<h:outputText value="CANTIDAD" />
					<p:spinner
						value="#{beanProductos.productoSeleccionado.cantidadPro}" />
					<h:outputText value="PRECIO:" />
					<p:spinner value="#{beanProductos.productoSeleccionado.precioPro}"
						stepFactor="0.01" />
					<h:outputText value="URL:" />
					<p:inputText
						value="#{beanProductos.productoSeleccionado.urlImagenPro}"
						required="true" requiredMessage="Indique la URL." />

					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicion').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						update=":formPro" onclick="PF('dlgEdicion').hide()"
						actionListener="#{beanProductos.actionListenerActualizarProducto()}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
</body>
</html>












